body
{
 background-image:url('noone.jpg');
background-repeat:no-repeat;
}

h1
{
text-align:center;
border-radius:100px;
background-color:black;
font-size:18.6667px;
padding:18px;
width:232px;

}

header
{
text-align:center;
height:fit-content;
color:white;
width:auto;
margin-top:77px;
}

h2
{
color:black;
text-align:center;
}

.div
{
background-color:white;
margin-left:195px;
margin:50px;
border-radius:50px;
}

.light
{
background-color: #ebeff4;
}

.dim
{
border-radius:50px;
margin-top:77px;
}

.res
{
 font-size:14.6667px;
 text-align:center;
 background-color:#69005a;
 color:white;
}

.dis
{
background-color:#69005a;
 margin-right:83px;
 margin-left:656px;
 width:184px;
padding:17px;
border-radius:50px;
 margin-bottom:106px;
}

a:link
{
color: #69005a;
}

a:visited
{
color: white;
}

a
{
text-decoration:none;
color: #69005a;
}

nav
{
color:white;
background-color:black;
margin-top:35px;
 margin-left:147px;
 margin-right:116px;
border-radius:50px;
margin-bottom:35px;
padding-right:30px;
text-align:center;
}

.dit
{
border-radius:50px;
padding:10px;
padding-left:80px;
padding-right:80px;
text-align:center;
}

.dim
{
padding:10px;
padding-left:153px;
padding-right:153px;
border-radius:50px;
color:white;
}

footer
{
background-color:black;
border-radius:50px;
}

nav:hover
{
background-color:white;
color:black;
}

.dit:hover
{
border:1px solid black;
background-color: black;
color: black;
}

.dil:hover
{
border:1px solid black;
border-radius:50px;
background-color: black;
}

h1:hover
{
background-color:white;
color:black;
}

.dik:hover
{
color:white;
}