body
{
 background-color:#ebeff4;
}

h1
{
text-align:center;
width:200px;
border-radius:100px;
background-color:#00c4c4;
font-size:18.667px;
padding:18px;
}

header
{
text-align:center;
height:fit-content;
color:white;
width:auto;
margin-top:77px;
}

.div
{
background-color:white;
border-radius:20px;
padding-left:54px;
padding-right:54px;
padding-bottom:48px;
padding-top:48px;
margin:23px;
width:416px;
}

footer
{
background-color:black;
color:white;
border-radius:50px;
margin-top:129px;
}

.dim
{
padding:10px;
padding-left:153px;
padding-right:153px;
border-radius:50px;
}

h2
{
text-align:center;
font-size:24px;
}

article
{
font-size:18.6667px;
}

.dis
{
border-right:1px solid white;
border-radius:50px;
padding:10px;
padding-left:65px;
padding-right:65px;
text-align:center;
}

nav
{
color:white;
background-color:#00c4c4;
margin-top:35px;
 margin-left:147px;
 margin-right:116px;
border-radius:50px;
margin-bottom:35px;
padding-right:30px;
text-align:center;
}

nav:hover
{
color:black;
background-color:white;
}

.dis:hover
{
background-color:#00c4c4;
color:white;
}

h1:hover
{
background-color:black;
color:white;
}

.dil
{
font-size:86.6667px; 
text-align:center; 
margin-top:25px;"
}

.dil:hover
{
color:blue;
}

a
{
    text-decoration: none;
    color: black;
}

.a
{
    color: white;
}